<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">
<h2>Register</h2>

<input id="email" placeholder="Enter Email">
<input id="password" type="password" placeholder="Enter Password">
<input id="contact" placeholder="Enter Contact Number">

<!-- OTP Section -->
<input id="otp" placeholder="Enter OTP">
<button onclick="generateOTP()">Send OTP</button>

<button onclick="register()">Register</button>

<p id="msg"></p>
</div>

<script src="/static/script.js"></script>
</body>
</html>